<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withmore.user.student.mapper.StudentPermissionMapper">

    <select id="getStudentViewPermission" resultType="com.withmore.user.student.dto.StudentPermissionDto">
        SELECT
            pn.id,
            ps.stu_number,
            pn.level1,
            pn.level2,
            pn.level3,
            pn.level4
        FROM user_student_permission AS ps
        INNER JOIN permission_node AS pn ON ps.permission_id=pn.id AND pn.mark=1
        WHERE ps.stu_number=#{stuNumber} AND ps.mark=1
    </select>
</mapper>
