<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withmore.event.todo.mapper.TodoNoticeMapper">

    <resultMap id="NoticeDetails" type="com.withmore.event.todo.dto.NoticeDetailsDto">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="url" property="url"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="publisher" property="publisher"/>
        <result column="uuid" property="uuid"/>
        <result column="permissionId" property="permissionId"/>
    </resultMap>

    <select id="getTodoNoticeDetailsList" resultMap="NoticeDetails">
        SELECT nt.id AS id,
        nt.title AS title,
        nt.content AS content,
        ri.url AS url,
        img.uuid AS uuid,
        nt.create_time AS releaseTime,
        ntp.permission_id AS permissionId,
        IF(nt.initiator_type='${stuType}',stu.real_name , tch.real_name) AS publisher
        FROM event_todo_notice AS nt

        INNER JOIN event_todo_notice_permission AS ntp
        ON ntp.notice_id = nt.id AND ntp.mark=1

        INNER JOIN permission_node AS pn
        ON pn.id=ntp.permission_id

        LEFT JOIN event_todo_notice_img AS img
        ON img.notice_id = nt.id AND img.mark=1

        LEFT JOIN resource_img ri ON img.uuid = ri.uuid

        LEFT JOIN user_student AS stu
        ON nt.initiator_type = '${stuType}' AND stu.stu_number = nt.initiator_number

        LEFT JOIN user_teacher AS tch
        ON nt.initiator_type = '${tchType}' AND tch.tch_number = nt.initiator_number
        <where>
            nt.mark=1
            <if test='node.getLevel1() != "*"'>
                AND (pn.level1='${node.getLevel1()}' OR pn.level1='*')
            </if>
            <if test='node.getLevel2() != "*"'>
                AND (pn.level2='${node.getLevel2()}' OR pn.level2='*')
            </if>
            <if test='node.getLevel3() != "*"'>
                AND (pn.level3 like '${node.getLevel3()}' OR pn.level3='*')
            </if>
            <if test='node.getLevel4() != "*"'>
                AND (pn.level4='${node.getLevel4()}' OR pn.level4='*')
            </if>
        </where>
        ORDER BY nt.create_time DESC;
    </select>
    <select id="getTodoNoticeMyselfPush" resultMap="NoticeDetails">
        SELECT nt.id AS id,
        nt.title AS title,
        nt.content AS content,
        ri.url AS url,
        img.uuid AS uuid,
        nt.create_time AS releaseTime,
        ntp.permission_id AS permissionId,
        IF(nt.initiator_type='student',stu.real_name , tch.real_name) AS publisher
        FROM event_todo_notice AS nt

        INNER JOIN event_todo_notice_permission AS ntp
        ON ntp.notice_id = nt.id AND ntp.mark=1

        INNER JOIN permission_node AS pn
        ON pn.id=ntp.permission_id

        LEFT JOIN event_todo_notice_img AS img
        ON img.notice_id = nt.id AND img.mark=1

        LEFT JOIN resource_img ri ON img.uuid = ri.uuid

        LEFT JOIN user_student AS stu
        ON nt.initiator_type = 'student' AND stu.stu_number = nt.initiator_number

        LEFT JOIN user_teacher AS tch
        ON nt.initiator_type = 'teacher' AND tch.tch_number = nt.initiator_number
        <where>
            nt.mark=1 AND nt.initiator_number='${number}' AND nt.initiator_type='${type}'
        </where>
        ORDER BY nt.create_time DESC;
    </select>
</mapper>
